@import '../variables';

.addTodo {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;

  .inputText {
    width: 95%;
    height: 40px;
    border: 1px solid $purple;
    border-radius: 5px;
    font-size: 14px;
    color: $purple;
    padding-left: 8px;
    outline: none;

  }

  .buttonAddTodo {
    width: 100px;
    height: 40px;
    margin-left: 20px;
    padding: 0 10px;
    border: 1px solid $purple;
    border-radius: 5px;
    background-color: $purple;
    outline: none;
    font-size: 14px;
    color: white;
    &:hover {
      background-color: white;;
      border-color: $purple;
      color: $purple;
    }
  }
}
